/*--main body styles--*/
#board {
    position: relative;
    width: 1008px;
    height: 848px;
    margin: auto;
    background: url(images/board.jpg) no-repeat center;
    background-size: contain;
}


#messageArea {
	position: absolute;
	top: 2px;
	left: 6px;
	color: rgb(83, 175, 19);
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px;
	background-color: rgb(83, 175, 19);
}

form input {
	background-color: rgba(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
}

/*--functionality styles--*/

/*add appropriate image when a player hitz or misses*/
.hit {
	background: url('images/ship.png') no-repeat center center;
}
.miss {
	background: url('images/miss.png') no-repeat center center;
}