/*--main body styles--*/
#board {
    position: relative;
    width: 1008px;
    height: 848px;
    margin: auto;
    background: url(images/board.jpg) no-repeat center;
    background-size: contain;
    font-size: 12px;
}


#messageArea {
	position: absolute;
	top: 2px;
	left: 6px;
	color: rgb(83, 175, 19);
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 30px;
}

table {
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td {
	width: 94px;
	height: 94px;
}

form {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: rgb(83, 175, 19);
}

form input {
	background-color: rgba(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 2em;
	color: rgb(83, 175, 19);
	font-weight: bold;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(83, 175, 19);
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(83, 175, 19);
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(83, 175, 19);
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(83, 175, 19);
  font-weight: bold;
}

/*--functionality styles--*/

/*add appropriate image when a player hitz or misses*/
.hit {
	background: url('images/ship.png') no-repeat center center;
}
.miss {
	background: url('images/miss.png') no-repeat center center;
}